* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: #fbf7e3;
  display: flex;
  justify-content: space-evenly;
  min-height: 100px;
}

.pulsante {
  background-color: #ffdf7f;
  width: 17%;
  border-radius: 30px;
  height: 40px;
  position: relative;
  top: 30px;
}

.logo {
  width: 55px;
  height: 55px;
  float: inline-start;
  object-fit: contain;
  padding: 7%;
}

.pulsante p {
  margin: 0;
  text-align: center;
  position: relative;
  top: 10px;
  color: #612406;
  font-weight: 600;
}

#pulsanteShop {
  background-color: #ffdf7f;
  width: 20%;
  border-radius: 30px;
  height: 55px;
  position: relative;
  top: 22px;
}

#pulsanteShop p {
  margin: 0;
  text-align: center;
  position: relative;
  top: 18px;
  color: #612406;
  font-weight: 600;
}

#contenutoSotto {
  background-color: #fbf7e3;
  width: 95%;
  margin-inline: auto;
  min-height: 767px;
  padding: 1%;
  border-radius: 20px;
}

#immagineSotto {
  width: 535px;
  height: 400px;
  object-fit: contain;
}

footer h1 {
  color: #612406;
  font-weight: 900;
  padding: 2%;
}

#contenutoSotto > h3,
p {
  color: #612406;
}

#contenutoSotto h3 {
  font-weight: 900;
}

main h1 {
  color: #612406;
  font-weight: 900;
}

#contenitoreCard {
  display: flex;
  gap: 10px;
}
.card {
  background-color: #fbf7e3;
  width: 50%;
}

.immagineCard {
  width: 50px;
}
